<!DOCTYPE html>
 <html>
 <head>
   <title> Express Js </title>
   <!--iclude the slash in styles.css otherwise it will look in the wong directory-->
   <link rel="stylesheet" href="/styles.css">
 </head>
 <body>